<div>
  <link href="./blog-post-card411.css" rel="stylesheet" />
  <div class="blog-post-card411-blog-post-card">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="blog-post-card411-image"
    />
    <div class="blog-post-card411-container">
      <span class="blog-post-card411-text"><span>JULY 24</span></span>
      <span class="blog-post-card411-text1">
        <span>
          Lorem ipsum lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>
      </span>
      <div class="blog-post-card411-separator"></div>
      <span class="blog-post-card411-text2"><span>Food & Drink</span></span>
    </div>
  </div>
</div>
