<div>
  <link href="./blog-post-card41.css" rel="stylesheet" />
  <div class="blog-post-card41-blog-post-card">
    <img
      alt="image"
      src="/playground_assets/welcome-1500w.jpg"
      class="blog-post-card41-image"
    />
    <div class="blog-post-card41-container">
      <span class="blog-post-card41-text"><span>JULY 24</span></span>
      <span class="blog-post-card41-text1">
        <span>
          Lorem ipsum lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>
      </span>
      <div class="blog-post-card41-separator"></div>
      <span class="blog-post-card41-text2"><span>Food & Drink</span></span>
    </div>
  </div>
</div>
